.book {
	display: flex;
	margin: 20px 10px 50px 10px;
}

.book-img {
	margin-right: 10px;
}

.book-img button {
	margin-top: 10px;
}

.book-img img {
	height: 75%;
	width: 150px;
	background-size: cover;
}

.book-info > * {
	margin: 5px;
}

.genre {
	font-weight: bold;
	text-decoration: underline;
}
