.book-page {
	display: flex;

	margin: 50px 50px 10px 50px;
}

.book-page-image {
	margin-right: 10px;
}

.book-page-image img {
	padding-top: 50px;
	height: 60%;
	width: 200px;
	background-size: cover;
}

.book-delete-btn {
	background-color: rgb(233, 43, 59);
	width: 100%;
	border: none;
	color: white;
	padding: 12px 16px;
	font-size: 16px;
	cursor: pointer;
	margin-bottom: 20px;
}

.book-delete-btn:hover {
	background-color: rgb(247, 1, 50);
}

@media screen and (max-width: 700px) {
	.book-page {
		flex-wrap: wrap;
		justify-content: center;
	}

	.book-page-image img {
		padding: 0;
		height: 90%;
		width: 100%;
		background-size: cover;
	}
}
