.note-heading {
	text-align: center;
}

form {
	margin-left: 40px;
}

.hero-image {
	background-image: url('../img/hero-book.jpeg');

	height: 200px;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
