.login-container {
	display: grid;
	margin: 5px;
	height: 500px;
	width: 100%;
	grid-template-columns: 50% 50%;
}
.login-container form {
	margin-left: 5px;
}

.form-group > div {
	margin-left: 2px;
}

.left-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.right-container {
	background-image: url(../img/photo-1532012197267-da84d127e765.jpeg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.login-input input {
	margin-left: 5px;
}
