input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}

.search-container {
	text-align: center;
}

.search-container button {
	height: 30px;
	border-radius: 20px;
	margin-left: 5px;
}

.search-container input {
	height: 25px;
	width: 200px;
	border-radius: 10px;
}

.book {
	display: flex;
}

.book-img {
	margin-right: 10px;
}

.book-img img {
	padding-top: 50px;
	height: 60%;
	width: 200px;
	background-size: cover;
}

@media screen and (max-width: 500px) {
	.book {
		flex-wrap: wrap;
		justify-content: center;
	}
	.book-img img {
		padding: 0;
		height: 90%;
		width: 100%;
		background-size: cover;
	}
	.book-img button {
		width: 100%;
	}
}
